VocabularySishu.xcodeproj/project.xcworkspace/xcuserdata/xiaoxiao.xcuserdatad/xcdebugger/
VocabularySishu.xcodeproj/xcuserdata/xiaoxiao.xcuserdatad/xcdebugger/
.DS_Store
VocabularySishu.xcodeproj/project.xcworkspace/xcuserdata/xiaoxiao.xcuserdatad/UserInterfaceState.xcuserstate
