<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>新词汇私塾 TOEFL</string>
	<key>ProductVersion</key>
	<string>TOEFL</string>
	<key>UMengKey</key>
	<string>52e89d5a56240ba07d080339</string>
	<key>BundleID</key>
	<string>org.seanxiaoxiao.VocabularySishu-TOEFL-New</string>
	<key>AppID</key>
	<integer>807824461</integer>
</dict>
</plist>
