<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VocabularySishu CET4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>VocabularySishu CET6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>VocabularySishu GRE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VocabularySishu IELTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>VocabularySishu SAT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>VocabularySishu TOEFL Trial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>VocabularySishu TOEFL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VocabularySishu TRIAL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VocabularySishu copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VocabularySishu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0008709F1675A0F600042A38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0017174E16B7B61200C49BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00201DDD15CFBAD30089B8FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>002D4C36169CACE1009C4F8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>002D4CCB169CADC2009C4F8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>002D4D5F169CADDF009C4F8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00701E2A1553CBCE00D30018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00701E4A1553CBCE00D30018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0082427E1671BF1400FF1631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B24FFF1628E19200311E52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00BDE55615CF9B9400BC205C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00C8D39D168586CC00CA3880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
