<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VocabularySishu copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VocabularySishu copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VocabularySishu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00201DDD15CFBAD30089B8FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00701E2A1553CBCE00D30018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00701E4A1553CBCE00D30018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00BDE55615CF9B9400BC205C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
