<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProductVersion</key>
	<string>IELTS</string>
	<key>UMengKey</key>
	<string>50ec79c85270155804000088</string>
	<key>BundleID</key>
	<string>org.seanxiaoxiao.VocabularySishu-IELTS</string>
	<key>AppID</key>
	<integer>593309202</integer>
</dict>
</plist>
