<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>新词汇私塾 雅思</string>
	<key>ProductVersion</key>
	<string>IELTS</string>
	<key>UMengKey</key>
	<string>531174ce56240b7a8a086903</string>
	<key>BundleID</key>
	<string>org.seanxiaoxiao.VocabularySishu-IELTS-New</string>
	<key>AppID</key>
	<integer>593309202</integer>
</dict>
</plist>
