<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProductVersion</key>
	<string>TRIAL</string>
	<key>UMengKey</key>
	<string>507c3c3c5270151aa2000028</string>
	<key>BundleID</key>
	<string>org.seanxiaoxiao.VocabularySishu-GRE-Free</string>
	<key>AppID</key>
	<integer>571846099</integer>
</dict>
</plist>
