<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>新词汇私塾 SAT</string>
	<key>ProductVersion</key>
	<string>SAT</string>
	<key>UMengKey</key>
	<string>52f5905556240b76b203bffb</string>
	<key>BundleID</key>
	<string>org.seanxiaoxiao.VocabularySishu-SAT-New</string>
	<key>AppID</key>
	<integer>816728275</integer>
</dict>
</plist>
