<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>新词汇私塾 GRE</string>
	<key>ProductVersion</key>
	<string>GRE</string>
	<key>UMengKey</key>
	<string>52f5087a56240b4c3a06a0d2</string>
	<key>BundleID</key>
	<string>org.seanxiaoxiao.VocabularySishu-GRE-New</string>
	<key>AppID</key>
	<integer>816335920</integer>
</dict>
</plist>
